@using Northwind.UI.Models
@using System.Linq
@{
    @model CustomerViewModel
    ViewBag.Title = Model.CustomerInfo.ContactName;
}
<div class="container">
    <h2>@Model.CustomerInfo.ContactName</h2>
    <div>
        <h4>Customer details</h4>
        <div>
            <div class="row">
                <strong>Company Name:</strong>
                <span>@Model.CustomerInfo.CompanyName</span>
            </div>
            <div class="row">
                <strong>Contact Title:</strong>
                <span>@Model.CustomerInfo.ContactTitle</span>
            </div>
            <div class="row">
                <i class="glyphicon glyphicon-bell"></i>
                <strong>Adress:</strong>
                <span>@Model.CustomerInfo.Address, @Model.CustomerInfo.City, @Model.CustomerInfo.Country, @Model.CustomerInfo.PostalCode</span>
            </div>
            <div class="row">
                <i class="glyphicon glyphicon-phone"></i>
                <strong>Contact info:</strong>
                <span>@Model.CustomerInfo.Phone, @Model.CustomerInfo.Fax</span>
            </div>
        </div>
    </div>
    <div>
        <h4>Orders</h4>
        @foreach (var order in Model.CustomerOrders.OrderByDescending(x => x.OrderDate))
        {

            <div class="row">
                <i class="glyphicon glyphicon-credit-card"></i>
                <span>@order.OrderDate.Value.ToShortDateString():</span>
                <span>Total price: @(Math.Floor(order.TotalPrice * 100)/100)</span>
            </div>
            if (@order.HasDiscontinuedProduct)
            {
                <div class="alert alert-warning" role="alert">
                    <strong>Attention!</strong> One or more products are discontinued!
                </div>
                //<div class="alert alert-info" role="alert">One or more products are discontinued</div>
            }
            if (@order.HasInsufficientQuantity)
            {
                <div class="alert alert-warning" role="alert">
                    <strong>Attention!</strong> Products ordered are more than in stock!
                </div>
            }
        }
    </div>
</div>